<a id='Top'></a>

# MultiSurv results<a class='tocSkip'></a>

Evaluation metric results for MultiSurv.

In [1]:
%load_ext autoreload
%autoreload 2

%load_ext watermark

import sys
import os

import pandas as pd

# Make modules in "src" dir visible
project_dir = os.path.split(os.getcwd())[0]
if project_dir not in sys.path:
    sys.path.append(os.path.join(project_dir, 'src'))

import dataset
import utils

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-modality-info" data-toc-modified-id="Data-modality-info-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data modality info</a></span><ul class="toc-item"><li><span><a href="#Clinical" data-toc-modified-id="Clinical-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Clinical</a></span></li><li><span><a href="#mRNA" data-toc-modified-id="mRNA-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>mRNA</a></span></li><li><span><a href="#DNAm" data-toc-modified-id="DNAm-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>DNAm</a></span></li><li><span><a href="#miRNA" data-toc-modified-id="miRNA-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>miRNA</a></span></li><li><span><a href="#CNV" data-toc-modified-id="CNV-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>CNV</a></span></li><li><span><a href="#WSI" data-toc-modified-id="WSI-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>WSI</a></span></li></ul></li><li><span><a href="#Data-info-by-cancer-type" data-toc-modified-id="Data-info-by-cancer-type-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data info by cancer type</a></span></li></ul></div>

In [2]:
DATA = utils.INPUT_DATA_DIR

# Data modality info

In [3]:
data_modalities = ['clinical', 'mRNA', 'DNAm', 'miRNA', 'CNV', 'wsi']

info = {
    'n': {modality: None for modality in data_modalities},
    'continuous': {modality: None for modality in data_modalities},
    'categorical': {modality: None for modality in data_modalities}
    }
info = pd.DataFrame.from_dict(info)

In [4]:
info

             n continuous categorical
clinical  None       None        None
mRNA      None       None        None
DNAm      None       None        None
miRNA     None       None        None
CNV       None       None        None
wsi       None       None        None

## Clinical

In [5]:
clinical_data = pd.read_csv('../data/clinical_data.tsv', sep='\t')

clinical_data.head()

,submitter_id,tumor_stage,age_at_diagnosis,prior_treatment,prior_malignancy,synchronous_malignancy,days_to_last_follow_up,gender,race,vital_status,days_to_death,treatments_pharmaceutical_treatment_or_therapy,treatments_radiation_treatment_or_therapy,project_id,time,event,group
0,TCGA-3B-A9HI,NaN,24984.0,No,no,No,1521.0,male,white,Alive,NaN,yes,yes,SARC,4.167123,0,val
1,TCGA-3B-A9HJ,NaN,24962.0,No,yes,NaN,1104.0,male,white,Alive,NaN,no,yes,SARC,3.024658,0,train
2,TCGA-3B-A9HL,NaN,24628.0,No,no,No,NaN,male,white,Dead,599.0,yes,no,SARC,1.641096,1,train
3,TCGA-3B-A9HO,NaN,27664.0,Yes,yes,NaN,959.0,male,white,Alive,NaN,no,no,SARC,2.627397,0,train
4,TCGA-3B-A9HP,NaN,21094.0,No,no,No,NaN,female,white,Dead,1627.0,yes,yes,SARC,4.457534,1,val

In [6]:
modality = 'clinical'

info['n'][modality] = len(clinical_data)
info['categorical'][modality] = 9
info['continuous'][modality] = 1

In [7]:
info

              n continuous categorical
clinical  11081          1           9
mRNA       None       None        None
DNAm       None       None        None
miRNA      None       None        None
CNV        None       None        None
wsi        None       None        None

## mRNA

In [8]:
modality = 'mRNA'

dataloaders = utils.get_dataloaders(
    data_location=DATA,
    labels_file='../data/labels.tsv',
    modalities=[modality])

n = 0

for group in dataloaders:
    n += len(dataloaders[group].dataset)

info['n'][modality] = n
info['categorical'][modality] = '-'
info['continuous'][modality] = next(iter(dataloaders['train']))[0][modality].shape[1]

Excluding 1188 patient(s) missing all data.
Excluding 153 patient(s) missing all data.
Excluding 135 patient(s) missing all data.
Data modalities:
   mRNA

Dataset sizes (# patients):
   train: 7692
   val: 956
   test: 957

Batch size: 128

In [9]:
info

              n continuous categorical
clinical  11081          1           9
mRNA       9605       1000           -
DNAm       None       None        None
miRNA      None       None        None
CNV        None       None        None
wsi        None       None        None

## DNAm

In [10]:
modality = 'DNAm'

dataloaders = utils.get_dataloaders(
    data_location=DATA,
    labels_file='../data/labels.tsv',
    modalities=[modality])

n = 0

for group in dataloaders:
    n += len(dataloaders[group].dataset)

info['n'][modality] = n
info['categorical'][modality] = '-'
info['continuous'][modality] = next(iter(dataloaders['train']))[0][modality].shape[1]

Excluding 669 patient(s) missing all data.
Excluding 79 patient(s) missing all data.
Excluding 76 patient(s) missing all data.
Data modalities:
   DNAm

Dataset sizes (# patients):
   train: 8211
   val: 1030
   test: 1016

Batch size: 128

In [11]:
info

              n continuous categorical
clinical  11081          1           9
mRNA       9605       1000           -
DNAm      10257       5000           -
miRNA      None       None        None
CNV        None       None        None
wsi        None       None        None

## miRNA

In [12]:
modality = 'miRNA'

dataloaders = utils.get_dataloaders(
    data_location=DATA,
    labels_file='../data/labels.tsv',
    modalities=[modality])

n = 0

for group in dataloaders:
    n += len(dataloaders[group].dataset)

info['n'][modality] = n
info['categorical'][modality] = '-'
info['continuous'][modality] = next(iter(dataloaders['train']))[0][modality].shape[1]

Excluding 1189 patient(s) missing all data.
Excluding 147 patient(s) missing all data.
Excluding 129 patient(s) missing all data.
Data modalities:
   miRNA

Dataset sizes (# patients):
   train: 7691
   val: 962
   test: 963

Batch size: 128

In [13]:
info

              n continuous categorical
clinical  11081          1           9
mRNA       9605       1000           -
DNAm      10257       5000           -
miRNA      9616       1881           -
CNV        None       None        None
wsi        None       None        None

## CNV

In [14]:
modality = 'CNV'

dataloaders = utils.get_dataloaders(
    data_location=DATA,
    labels_file='../data/labels.tsv',
    modalities=[modality])

n = 0

for group in dataloaders:
    n += len(dataloaders[group].dataset)

info['n'][modality] = n
info['categorical'][modality] = next(iter(dataloaders['train']))[0][modality].shape[1]
info['continuous'][modality] = '-'

Excluding 615 patient(s) missing all data.
Excluding 72 patient(s) missing all data.
Excluding 69 patient(s) missing all data.
Data modalities:
   CNV

Dataset sizes (# patients):
   train: 8265
   val: 1037
   test: 1023

Batch size: 128

In [15]:
info

              n continuous categorical
clinical  11081          1           9
mRNA       9605       1000           -
DNAm      10257       5000           -
miRNA      9616       1881           -
CNV       10325          -        2000
wsi        None       None        None

## WSI

In [16]:
modality = 'wsi'

dataloaders = utils.get_dataloaders(
    data_location=DATA,
    labels_file='../data/labels.tsv',
    modalities=[modality],
    wsi_patch_size=299,
    n_wsi_patches=5)

n = 0

for group in dataloaders:
    n += len(dataloaders[group].dataset)

info['n'][modality] = n
info['categorical'][modality] = '-'
info['continuous'][modality] = r' 299 $\times$ 299 pixels'

Excluding 2192 patient(s) missing all data.
Excluding 279 patient(s) missing all data.
Excluding 234 patient(s) missing all data.
Data modalities:
   wsi

Dataset sizes (# patients):
   train: 6688
   val: 830
   test: 858

Batch size: 32

In [17]:
info

              n                continuous categorical
clinical  11081                         1           9
mRNA       9605                      1000           -
DNAm      10257                      5000           -
miRNA      9616                      1881           -
CNV       10325                         -        2000
wsi        8376   299 $\times$ 299 pixels           -

# Data info by cancer type

In [6]:
labels = pd.read_csv('../data/labels.tsv', sep='\t')
labels.head()

   submitter_id project_id      time  event  group
0  TCGA-3B-A9HI       SARC  4.167123      0    val
1  TCGA-3B-A9HJ       SARC  3.024658      0  train
2  TCGA-3B-A9HL       SARC  1.641096      1  train
3  TCGA-3B-A9HO       SARC  2.627397      0  train
4  TCGA-3B-A9HP       SARC  4.457534      1    val

In [11]:
cancer_types = sorted(labels.project_id.unique())
cancer_types += ['All']
columns = ['n', '% censored', 'min_time', 'max_time', 'median_time']

cancer_type_info = {}

for column in columns:
    cancer_type_info[column] = {cancer_type: None for cancer_type in cancer_types}
    
cancer_type_info = pd.DataFrame.from_dict(cancer_type_info)

In [12]:
def get_stats(data, in_days=True):
    stats = data.min(), data.max(), data.median()
#     stats = tuple([round(x , 2) for x in stats])
    
    if in_days:
        stats = tuple([x * 365 for x in stats])

    return stats

for cancer_type in sorted(labels.project_id.unique()):
    cancer_labels = labels.loc[labels.project_id == cancer_type]
    cancer_type_info['n'][cancer_type] = len(cancer_labels)

    n_cens = len(cancer_labels.loc[cancer_labels.event == 0])
    percent_cens = (n_cens * 100 / len(cancer_labels))
    cancer_type_info['% censored'][cancer_type] = round(percent_cens, 1)

    (cancer_type_info['min_time'][cancer_type],
     cancer_type_info['max_time'][cancer_type],
     cancer_type_info['median_time'][cancer_type]) = get_stats(cancer_labels['time'], True)

In [14]:
# All cancer types
cancer_labels = labels
cancer_type = 'All'

cancer_type_info['n'][cancer_type] = len(cancer_labels)

n_cens = len(cancer_labels.loc[cancer_labels.event == 0])
percent_cens = (n_cens * 100 / len(cancer_labels))
cancer_type_info['% censored'][cancer_type] = round(percent_cens, 1)

(cancer_type_info['min_time'][cancer_type],
 cancer_type_info['max_time'][cancer_type],
 cancer_type_info['median_time'][cancer_type]) = get_stats(cancer_labels['time'], True)

In [15]:
cancer_type_info

          n % censored min_time max_time median_time
ACC      92         63        0     4673      1182.5
BLCA    408       55.9        0     5050         536
BRCA   1095       86.2        0     8605         825
CESC    307       76.5        0     6408         638
CHOL     48       54.2       10     1976       678.5
COAD    458       77.7        0     4502         657
DLBC     48       81.2        0     6425       811.5
ESCA    185       58.4        0     3714         400
GBM     592       17.1        0     3881       368.5
HNSC    526       57.6        1     6417       644.5
KICH    112       89.3        6     5132      1471.5
KIRC    537         67        0     4537        1175
KIRP    290       84.8        0     5925       767.5
LAML    186       35.5        0     2861         365
LGG     512       75.6        0     6423       677.5
LIHC    375       64.8        0     3675         601
LUAD    513       64.1        0     7248         656
LUSC    498       56.8        0     5287         663
MESO     85       14.1       20     2790         527
OV      582       40.2        8     5481        1002
PAAD    185       45.9        0     2741         467
PCPG    179       96.6        2     9634         755
PRAD    498         98       23     5024         932
READ    169         84        0     3932         609
SARC    261       62.1        0     5723         938
SKCM    459       51.9        0    11252        1124
STAD    434       60.8        0     3720         424
TGCT    134         97        3     7437        1261
THCA    507       96.8        0     5423         944
THYM    123       92.7       14     4575        1253
UCEC    546       83.3        0     6859       897.5
UCS      57       38.6        0     4269         597
UVM      80       71.2        4     2600         784
All   11081       67.5        0    11252         714

# Watermark<a class='tocSkip'></a>

In [12]:
%watermark --iversions
%watermark -v
print()
%watermark -u -n

pandas 1.0.1

CPython 3.6.7
IPython 7.11.1

last updated: Tue Jul 28 2020

[Top of the page](#Top)